Repository rollercoaster-dev/rd-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve all TypeScript compilation errors
  .gitignore
  .working/tasks/og-image-generator.md
  .working/tasks/todo/seo-and-improvements.md
  WARP.md
  bun.lock
  package.json
  scripts/generate-og-images.ts
  scripts/og-content-config.ts
  scripts/og-design-tokens.ts
  scripts/og-templates.tsx
  src/frontend/components/HelloWorld.test.ts
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/composables/useSEO.ts
  src/frontend/main.ts
  src/frontend/pages/index.vue
  src/frontend/router/index.ts
  src/frontend/routes.ts
  src/types/vue-shims.d.ts
  tsconfig.backend.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: replace React-based OG generator with Vue-compatible solution
  pnpm-lock.yaml
  scripts/generate-og-images.ts
  scripts/og-templates.ts
  scripts/og-templates.tsx
Due: eslint --fix, prettier --write

feat: add generated OG images for social sharing
  public/og/about-page-1200x630.png
  public/og/admin-page-1200x630.png
  public/og/contributors-page-1200x630.png
  public/og/how-it-works-feature-1200x630.png
  public/og/index-default-1200x630.png
  public/og/legal-impressum-page-1200x630.png
  public/og/legal-privacy-page-1200x630.png
  public/og/roadmap-page-1200x630.png
Due: none

fix: remove OG images from gitignore
  .gitignore
Due: none

feat: Enhanced favicon and optimized RD icon assets
  pnpm-workspace.yaml
  public/favicon.svg
  public/rd-icon-optimized.png
  public/rd-icon.png
Due: none

feat: hash anchor smooth scrolling; i18n for header/footer labels
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/components/rd/layout/Header.vue
  src/frontend/locales/de/header.json
  src/frontend/locales/en/header.json
  src/frontend/router/index.ts
Due: eslint --fix, prettier --write

docs: add manual screenshots (desktop & mobile) for nav scaffold routes
  docs/screenshots/desktop/_.png
  docs/screenshots/desktop/__waitlist.png
  docs/screenshots/desktop/_about.png
  docs/screenshots/desktop/_how-it-works.png
  docs/screenshots/desktop/_legal_impressum.png
  docs/screenshots/desktop/_legal_privacy.png
  docs/screenshots/desktop/_roadmap.png
  docs/screenshots/mobile/_.png
  docs/screenshots/mobile/__waitlist.png
  docs/screenshots/mobile/_about.png
  docs/screenshots/mobile/_how-it-works.png
  docs/screenshots/mobile/_legal_impressum.png
  docs/screenshots/mobile/_legal_privacy.png
  docs/screenshots/mobile/_roadmap.png
Due: none

Add screenshot capture script with Puppeteer for multiple routes and viewports
  package.json
  pnpm-lock.yaml
  scripts/capture-screenshots.mjs
Due: prettier --write

Address GitHub PR review comments - improve type safety and maintainability
  .env.example
  WARP.md
  scripts/og-templates.ts
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/composables/useSEO.ts
  src/frontend/env.d.ts
  src/frontend/main.ts
  src/frontend/router/index.ts
Due: eslint --fix, prettier --write

Resolve all 6 GitHub Copilot review comments
  public/og/about-page-1200x630.png
  public/og/admin-page-1200x630.png
  public/og/contributors-page-1200x630.png
  public/og/how-it-works-feature-1200x630.png
  public/og/index-default-1200x630.png
  public/og/legal-impressum-page-1200x630.png
  public/og/legal-privacy-page-1200x630.png
  public/og/roadmap-page-1200x630.png
  scripts/generate-og-images.ts
  scripts/og-templates.ts
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/composables/useSEO.ts
Due: eslint --fix, prettier --write

Refactor Header component: Simplify tooltip content and type annotations
  src/frontend/components/rd/layout/Header.vue
Due: eslint --fix, prettier --write

fix: resolve failing tests and clean up legacy Elysia references
  WARP.md
  package.json
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/components/rd/layout/Header.vue
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/locales/de/footer.json
  src/frontend/locales/de/privacy.json
  src/frontend/locales/en/footer.json
  src/frontend/locales/en/privacy.json
  src/frontend/pages/legal/privacy.vue
  src/frontend/router/index.ts
Due: eslint --fix, prettier --write

chore: fix lint errors for header/base layout and i18n audit script
  README.md
  docs/design-document.md
  docs/design/README.md
  docs/design/checklists/a11y-qa.md
  docs/design/design-plan.md
  docs/design/patterns/page-composition.md
  docs/design/styleguide-examples.md
  docs/design/styleguide.md
  package.json
  scripts/enhance-issues.sh
  scripts/i18n-audit.ts
  src/frontend/App.vue
  src/frontend/components/ApiTest.vue
  src/frontend/components/rd/layout/BaseLayout.vue
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/components/rd/layout/Header.vue
  src/frontend/components/rd/layout/SkipLink.vue
  src/frontend/config/navigation.ts
  src/frontend/locales/de/header.json
  src/frontend/locales/de/home.json
  src/frontend/locales/en/header.json
  src/frontend/locales/en/home.json
  src/frontend/main.ts
  src/frontend/pages/about/index.vue
  src/frontend/pages/how-it-works/index.vue
  src/frontend/pages/legal/impressum.vue
  src/frontend/pages/legal/privacy.vue
  src/frontend/pages/roadmap/index.vue
Due: eslint --fix, prettier --write

fix: add persistent GitHub cache and fix proxy port configuration
  .cache/github-status.json
  .env.example
  src/backend/api/github/github.routes.ts
  src/backend/services/github-projects.service.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: update backend port configuration and improve documentation
  .cache/github-status.json
  .env.example
  WARP.md
  vite.config.ts
Due: eslint --fix, prettier --write

fix: resolve PR review comments - improve type safety and remove unsafe casts
  pnpm-lock.yaml
  src/frontend/router/index.ts
Due: eslint --fix, prettier --write

Update GitHub status cache timestamps and comment out waitlist navigation item
  .cache/github-status.json
  src/frontend/config/navigation.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive SEO meta tags, canonicals, and JSON-LD
  src/frontend/composables/useSEO.ts
  src/frontend/locales/de/how-it-works.json
  src/frontend/locales/de/impressum.json
  src/frontend/locales/de/privacy.json
  src/frontend/locales/de/roadmap.json
  src/frontend/locales/en/how-it-works.json
  src/frontend/locales/en/impressum.json
  src/frontend/locales/en/privacy.json
  src/frontend/locales/en/roadmap.json
  src/frontend/main.ts
  src/frontend/pages/about/index.vue
  src/frontend/pages/how-it-works/index.vue
  src/frontend/pages/index.vue
  src/frontend/pages/legal/impressum.vue
  src/frontend/pages/legal/privacy.vue
  src/frontend/pages/roadmap/index.vue
Due: eslint --fix, prettier --write

test: add comprehensive unit tests for useSEO composable
  src/frontend/composables/useSEO.test.ts
Due: eslint --fix, prettier --write

feat: remove email from footer to prevent spam
  src/frontend/components/rd/layout/Footer.vue
Due: eslint --fix, prettier --write

docs: add CLAUDE.md configuration file
  CLAUDE.md
Due: prettier --write

feat: add vite-plugin-sitemap dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement robots.txt and sitemap.xml generation
  vite.config.ts
Due: eslint --fix, prettier --write

feat: complete ARIA landmarks and skip links implementation
  src/frontend/App.vue
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/components/rd/layout/Header.vue
Due: eslint --fix, prettier --write

feat: implement comprehensive focus indicators for WCAG 2.2 AA+ compliance
  src/frontend/components/rd/layout/SkipLink.vue
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/components/ui/button/index.ts
  src/frontend/components/ui/dropdown-menu/DropdownMenuItem.vue
  src/frontend/components/ui/select/SelectItem.vue
  src/frontend/components/ui/select/SelectTrigger.vue
  src/frontend/styles/main.css
Due: eslint --fix, prettier --write

fix: update button size for improved accessibility and remove outdated focus styles
  src/frontend/components/ui/button/index.ts
  src/frontend/styles/main.css
Due: eslint --fix, prettier --write

fix: refine button focus styles for improved accessibility
  src/frontend/components/ui/button/index.ts
Due: eslint --fix, prettier --write

feat(a11y): add global focus-visible styles and hit-44 utility (WCAG 2.2)
  .cache/github-status.json
  src/frontend/styles/main.css
Due: prettier --write

feat(a11y): apply hit-44 to header icon buttons and mobile menu trigger
  src/frontend/components/rd/layout/Header.vue
Due: eslint --fix, prettier --write

fix(a11y): remove duplicate :focus-visible selectors and improve WCAG 2.4.13 compliance
  src/frontend/styles/main.css
Due: prettier --write

fix(a11y): restore missing border-radius on focus indicators
  src/frontend/styles/main.css
Due: prettier --write

feat(a11y): accessible mobile menu dialog + safe focus styles; document --ring contrast; ignore .cache; Playwright config + header a11y E2E; teleport overlay and lock scroll
  .cache/github-status.json
  .gitignore
  playwright.config.ts
  src/frontend/components/rd/layout/Header.vue
  src/frontend/styles/main.css
  tests/e2e/header-a11y.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(ci): adjust pre-commit to run targeted repo tests; update test:repo pattern for vitest
  .husky/pre-commit
  package.json
Due: prettier --write

chore(tsc): exclude tests from Vue type-check to stabilize pre-commit; fix router types for ScrollPosition import
  .husky/pre-commit
  src/frontend/router/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test: fix test typings and tighten vitest include/exclude; remove type-check:tests from hook to avoid missing tsconfig; switch hooks to pnpm; ensure CI runs only repo tests
  .husky/pre-commit
  package.json
  src/frontend/composables/useSEO.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write

a11y(header): replace ✕ with lucide X icon; remove focus:outline-none from dialog panel; keep aria semantics; prep for shadcn Sheet refactor
  src/frontend/components/rd/layout/Header.vue
Due: eslint --fix, prettier --write

refactor: optimize i18n translations with computed properties
  .working/tasks/mobile-menu-refactor.md
  src/frontend/components/rd/layout/Header.vue
  src/frontend/components/rd/layout/HeaderControls.vue
  src/frontend/components/rd/layout/MobileMenuContent.vue
  src/frontend/components/ui/sheet/Sheet.vue
  src/frontend/components/ui/sheet/SheetClose.vue
  src/frontend/components/ui/sheet/SheetContent.vue
  src/frontend/components/ui/sheet/SheetDescription.vue
  src/frontend/components/ui/sheet/SheetFooter.vue
  src/frontend/components/ui/sheet/SheetHeader.vue
  src/frontend/components/ui/sheet/SheetOverlay.vue
  src/frontend/components/ui/sheet/SheetTitle.vue
  src/frontend/components/ui/sheet/SheetTrigger.vue
  src/frontend/components/ui/sheet/index.ts
  src/frontend/locales/de/header.json
  src/frontend/locales/en/header.json
Due: eslint --fix, prettier --write

fix: address PR review comments for accessibility and code quality
  src/frontend/composables/useSEO.test.ts
  src/frontend/styles/main.css
Due: eslint --fix, prettier --write

feat: implement copy content for core pages
  src/frontend/composables/useBuildDate.ts
  src/frontend/locales/de/about.json
  src/frontend/locales/de/how-it-works.json
  src/frontend/locales/de/roadmap.json
  src/frontend/locales/en/about.json
  src/frontend/locales/en/how-it-works.json
  src/frontend/locales/en/roadmap.json
  src/frontend/pages/about/index.vue
  src/frontend/pages/how-it-works/index.vue
  src/frontend/pages/roadmap/index.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,css,scss,md})
