Repository rollercoaster-dev/rd-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix ESLint configuration and update main.ts
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  eslint.config.js
  src/frontend/main.ts
Due: eslint --fix, prettier --write

fix: removed packages folder && format
  .husky/pre-commit
  .working/tasks/todo/implement-documentation-section.md
  README.md
  auto-imports.d.ts
  bun.lock
  env.d.ts
  eslint.config.js
  histoire.config.ts
  package.json
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
  src/backend/api/badges.ts
  src/backend/api/routes.ts
  src/backend/index.ts
  src/backend/services/static.ts
  src/frontend/App.vue
  src/frontend/auto-imports.d.ts
  src/frontend/components/ApiTest.vue
  src/frontend/components/HelloWorld.test.ts
  src/frontend/components/HelloWorld.vue
  src/frontend/composables/useApi.ts
  src/frontend/main.ts
  src/frontend/pages/about/index.vue
  src/frontend/pages/index.vue
  src/frontend/routes.ts
  src/frontend/services/api.ts
  src/frontend/styles/main.css
  src/lib/utils.ts
  src/types/flexsearch.d.ts
  src/types/vue-router-auto-routes.d.ts
  src/types/vue-shims.d.ts
  tailwind.config.js
  test.md
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Update Tailwind CSS and styling to match platform/frontend setup
  public/favicon.svg
  public/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Bold.ttf
  public/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf
  public/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Italic.ttf
  public/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.ttf
  src/frontend/styles/main.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fest: histoire setup
  .working docs/histoire-setup-and-stories.md
  COMPONENTS-TASK.md
  bun.lock
  eslint.config.js
  histoire.config.ts
  package.json
  src/components/test/TestComponent.story.vue
  src/components/test/TestComponent.vue
  src/components/ui/button/Button.story.vue
  src/components/ui/button/Button.vue
  src/components/ui/button/index.ts
  src/frontend/histoire.setup.server.ts
  src/frontend/histoire.setup.ts
Due: eslint --fix, prettier --write

Add Histoire stories for all RD components
  .working/docs/admin-area-tasks.md
  components.d.ts
  src/frontend/components/rd/Base/ActionCard/ActionCard.story.vue
  src/frontend/components/rd/Base/Button/Button.story.vue
  src/frontend/components/rd/Base/FeatureCard.story.vue
  src/frontend/components/rd/Base/FeatureItem/FeatureItem.story.vue
  src/frontend/components/rd/Base/Link.story.vue
  src/frontend/components/rd/Base/SectionHeader.story.vue
  src/frontend/components/rd/HeadlineGradient/HeadlineGradient.story.vue
  src/frontend/components/rd/layout/Header.story.vue
Due: eslint --fix, prettier --write

Refactor Header story to use component and add lucide-vue-next to SSR config
  histoire.config.ts
  src/frontend/components/rd/layout/Header.story.vue
  vite.config.ts
Due: eslint --fix, prettier --write

feat: Setup Prisma with PostgreSQL connection
  bun.lock
  package.json
  prisma/schema.prisma
Due: prettier --write

feat(auth): migrate backend from Lucia to JWT authentication
  README.md
  bun.lock
  docs/backend/authentication.md
  drizzle.config.ts
  drizzle/migrations/0000_worthless_bloodaxe.sql
  drizzle/migrations/0001_brown_avengers.sql
  drizzle/migrations/meta/0000_snapshot.json
  drizzle/migrations/meta/0001_snapshot.json
  drizzle/migrations/meta/_journal.json
  eslint.config.js
  package.json
  prisma/schema.prisma
  scripts/migrate.ts
  src/backend/api/auth/github.routes.ts
  src/backend/api/auth/index.ts
  src/backend/api/routes.ts
  src/backend/api/users/users.routes.ts
  src/backend/config/auth.config.ts
  src/backend/db/index.ts
  src/backend/db/schema.ts
  src/backend/index.ts
  src/backend/middleware/auth.middleware.ts
  src/backend/services/jwt.service.ts
  src/backend/services/oauth.providers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: adding github oauth flow - with problems
  .working/docs/admin-area-tasks.md
  auto-imports.d.ts
  components.d.ts
  package.json
  src/backend/api/auth/github.routes.ts
  src/backend/api/auth/index.ts
  src/backend/api/routes.ts
  src/backend/index.ts
  src/frontend/components/rd/layout/Header.vue
  src/frontend/composables/useApi.ts
  src/frontend/composables/useAuth.ts
  src/frontend/main.ts
  src/frontend/pages/auth/callback.vue
  src/frontend/pages/login.vue
  typed-router.d.ts
Due: eslint --fix, prettier --write

refactor(backend): Standardize Elysia routing with instance pattern
  bun.lock
  drizzle/migrations/0002_minor_baron_strucker.sql
  drizzle/migrations/meta/0002_snapshot.json
  drizzle/migrations/meta/_journal.json
  package.json
  src/backend/api/auth/github.routes.ts
  src/backend/api/auth/index.ts
  src/backend/api/routes.ts
  src/backend/config/auth.config.ts
  src/backend/db/schema.ts
  src/backend/index.ts
  src/backend/services/auth.service.ts
  src/backend/services/githubAuth.service.ts
Due: eslint --fix, prettier --write

removed elysia cookie middleware replaced with classic cookies
  .working/docs/admin-area-tasks.md
  bun.lock
  eslint.config.js
  package.json
  src/backend/api/auth/github.routes.ts
  src/backend/config/auth.config.ts
  src/backend/index.ts
  src/frontend/components/rd/Base/SectionHeader.vue
  src/frontend/composables/useAuth.ts
  src/frontend/pages/auth/callback.vue
  src/frontend/pages/login.vue
Due: eslint --fix, prettier --write

Update auth middleware and add test client for API endpoints
  bun.lock
  package-lock.json
  package.json
  src/backend/api/auth/github.routes.ts
  src/backend/api/routes.test.ts
  src/backend/api/routes.ts
  src/backend/config/auth.config.ts
  src/backend/index.ts
  src/backend/middleware/auth.middleware.ts
  src/backend/services/jwt.service.ts
  src/backend/services/oauth.providers.ts
  src/backend/test/httpClient.ts
  src/backend/test/setup.ts
  src/frontend/composables/useAuth.ts
  src/shared/types/index.ts
  src/shared/types/user.ts
  tsconfig.node.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Update docs/backend/authentication.md
  docs/backend/authentication.md
Due: prettier --write

Update migration task file with current progress
  .working/docs/admin-area-tasks.md
  MIGRATION-TASKS.md
Due: prettier --write

Add Hono implementation alongside Elysia for migration evaluation
  MIGRATION-IMPLEMENTATION.md
  MIGRATION-TASKS.md
  bun.lock
  package.json
  src/backend/api/auth/github.routes.hono.ts
  src/backend/api/auth/index.hono.ts
  src/backend/api/routes.hono.ts
  src/backend/index.hono.ts
  src/backend/middleware/auth.middleware.hono.ts
  src/backend/services/static.hono.ts
  src/backend/test/httpClient.hono.ts
Due: eslint --fix, prettier --write

Complete Hono migration with user routes, badge routes, and tests
  MIGRATION-IMPLEMENTATION.md
  MIGRATION-TASKS.md
  src/backend/api/badges.hono.ts
  src/backend/api/routes.hono.test.ts
  src/backend/api/routes.hono.ts
  src/backend/api/users/users.routes.hono.ts
  src/backend/test/setup.hono.ts
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

Replace Elysia with Hono completely
  package.json
  src/backend/api/auth/github.routes.hono.ts
  src/backend/api/auth/github.routes.ts
  src/backend/api/auth/index.hono.ts
  src/backend/api/auth/index.ts
  src/backend/api/badges.hono.ts
  src/backend/api/badges.ts
  src/backend/api/routes.hono.test.ts
  src/backend/api/routes.hono.ts
  src/backend/api/routes.test.ts
  src/backend/api/routes.ts
  src/backend/api/users/users.routes.hono.ts
  src/backend/api/users/users.routes.ts
  src/backend/index.hono.ts
  src/backend/index.ts
  src/backend/middleware/auth.middleware.hono.ts
  src/backend/middleware/auth.middleware.ts
  src/backend/services/static.hono.ts
  src/backend/services/static.ts
  src/backend/test/httpClient.hono.ts
  src/backend/test/httpClient.ts
  src/backend/test/setup.hono.ts
  src/backend/test/setup.ts
Due: eslint --fix, prettier --write

Update lockfile after removing Elysia dependencies
  bun.lock
Due: none

Fix linting warning in static files middleware
  src/backend/services/static.ts
Due: eslint --fix, prettier --write

Add more logging and environment variable checks for CI
  src/backend/services/jwt.service.ts
  src/backend/test/setup.ts
Due: eslint --fix, prettier --write

Temporarily skip tests in CI
  .github/workflows/ci.yml
Due: none

Standardize environment variable names with RD_ prefix and update CI workflow
  .github/workflows/ci.yml
  docs/backend/authentication.md
  drizzle.config.ts
  src/backend/config/auth.config.ts
  src/backend/db/index.ts
  src/backend/services/jwt.service.ts
  src/backend/services/oauth.providers.ts
  src/backend/test/setup.ts
Due: eslint --fix, prettier --write

Simplify database connection and remove dotenv dependency
  drizzle.config.ts
  package.json
  scripts/migrate.ts
  src/backend/db/index.ts
  src/backend/services/static.ts
Due: eslint --fix, prettier --write

Add postgres service to CI and prefix env vars with RD_
  .env.example
  .github/workflows/ci.yml
  scripts/migrate.ts
  src/backend/db/index.ts
Due: eslint --fix, prettier --write

Implement tag-based release workflow and update deployment documentation
  .github/workflows/release.yml
  .working/docs/COMPONENTS-TASK.md
  .working/tasks/completed/MIGRATION-IMPLEMENTATION.md
  .working/tasks/completed/MIGRATION-TASKS.md
  .working/tasks/completed/RELEASE-WORKFLOW-TASKS.md
  README.md
  test.md
Due: prettier --write

Add WebAuthn and email authentication tasks and improve auth security
  .working/docs/webauthn-email-auth-tasks.md
  src/backend/middleware/auth.middleware.ts
  src/backend/services/githubAuth.service.ts
  src/backend/services/jwt.service.ts
Due: eslint --fix, prettier --write

Add text alignment prop to SectionHeader with center as default
  src/frontend/components/rd/Base/SectionHeader.story.vue
  src/frontend/components/rd/Base/SectionHeader.vue
Due: eslint --fix, prettier --write

Update WebAuthn and email auth tasks with detailed implementation steps and privacy considerations
  .working/docs/webauthn-email-auth-tasks.md
Due: prettier --write

Add database schema for WebAuthn credentials and verification tokens
  drizzle/migrations/0003_soft_praxagora.sql
  src/backend/db/schema.ts
Due: eslint --fix, prettier --write

Add WebAuthn and email authentication services and routes
  .env.example
  bun.lock
  package.json
  src/backend/api/auth/email.routes.ts
  src/backend/api/auth/index.ts
  src/backend/api/auth/webauthn.routes.ts
  src/backend/services/email.service.ts
  src/backend/services/webauthn.service.ts
Due: eslint --fix, prettier --write

Add database schema for WebAuthn credentials and verification tokens
  drizzle/migrations/meta/0003_snapshot.json
  drizzle/migrations/meta/_journal.json
Due: prettier --write

Fix TypeScript errors in WebAuthn implementation
  src/backend/api/auth/webauthn.routes.ts
  src/backend/services/webauthn.service.ts
Due: eslint --fix, prettier --write

Fix formatting in email authentication implementation
  src/backend/api/auth/email.routes.ts
  src/backend/services/email.service.ts
Due: eslint --fix, prettier --write

Add tests for WebAuthn and email authentication routes
  src/backend/api/auth/auth.test.ts
  src/backend/test/httpClient.ts
Due: eslint --fix, prettier --write

Update WebAuthn and email authentication task document with progress and learnings
  .working/docs/webauthn-email-auth-tasks.md
Due: prettier --write

Fix WebAuthn challenge persistence with session middleware
  .env.example
  src/backend/api/auth/webauthn.routes.ts
  src/backend/index.ts
  src/backend/services/webauthn.service.ts
Due: eslint --fix, prettier --write

Update WebAuthn task document with session management learnings
  .working/docs/webauthn-email-auth-tasks.md
Due: prettier --write

Fix critical issue with WebAuthn challenge verification
  .working/docs/webauthn-email-auth-tasks.md
  src/backend/services/webauthn.service.ts
Due: eslint --fix, prettier --write

Add hono-sessions dependency for WebAuthn challenge persistence
  bun.lock
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,css,scss,md})
