Repository rollercoaster-dev/rd-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update CI workflow to run on PRs to any branch
  .github/workflows/ci.yml
Due: none

Fix type safety issues in WebAuthn verification and authentication flows
  src/backend/api/auth/webauthn.routes.ts
  src/backend/services/webauthn.service.ts
Due: eslint --fix, prettier --write

Update CI workflow to use bun run test command
  .github/workflows/ci.yml
  .working/docs/separate-fe-be-tests.md
Due: prettier --write

fix: configure separate test environments for frontend and backend tests
  vitest.config.ts
Due: eslint --fix, prettier --write

Improve WebAuthn error handling and add test setup for frontend tests
  src/frontend/composables/useApi.ts
  src/frontend/composables/useWebAuthn.test.ts
  src/frontend/composables/useWebAuthn.ts
  src/frontend/vitest.setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: remove build job from CI workflow and fix test command in release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Add @rollercoaster-dev/rd-logger implementation
  bun.lock
  package.json
  src/backend/db/index.ts
  src/backend/examples/logger-usage.ts
  src/backend/index.ts
  src/backend/middleware/auth.middleware.ts
  src/backend/middleware/logger.middleware.ts
  src/backend/services/email.service.ts
  src/backend/services/logger.service.ts
  src/backend/test/setup.ts
Due: eslint --fix, prettier --write

refactor: create reusable components for landing page
  components.d.ts
  src/frontend/components/rd/CallToAction/CallToAction.story.vue
  src/frontend/components/rd/CallToAction/index.vue
  src/frontend/components/rd/ContentBlock/ContentBlock.story.vue
  src/frontend/components/rd/ContentBlock/index.vue
  src/frontend/components/rd/Grid/Grid.story.vue
  src/frontend/components/rd/Grid/index.vue
  src/frontend/components/rd/HeroSection/HeroSection.story.vue
  src/frontend/components/rd/HeroSection/index.vue
  src/frontend/components/rd/PrincipleGrid/PrincipleGrid.story.vue
  src/frontend/components/rd/PrincipleGrid/index.vue
  src/frontend/components/rd/Section/Section.story.vue
  src/frontend/components/rd/Section/index.vue
  src/frontend/components/rd/StatusCard/StatusCard.story.vue
  src/frontend/components/rd/StatusCard/index.vue
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

feat: add GitHub projects integration and status cards
  src/backend/api/github/github.routes.ts
  src/backend/services/github-projects.service.ts
  src/frontend/composables/useGitHubProjects.ts
Due: eslint --fix, prettier --write

fix: update application configuration for minimal landing page
  .env.example
  src/backend/api/routes.ts
  src/backend/index.ts
  src/frontend/components/rd/layout/Header.vue
  src/frontend/router/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: integrate live GitHub status cards into landing page
  src/frontend/components/rd/StatusCard/index.vue
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

fix: resolve tooltip issues in Header component
  .gitignore
  TASKS.md
  auto-imports.d.ts
  bun.lock
  components.d.ts
  package.json
  src/frontend/auto-imports.d.ts
  src/frontend/components.d.ts
  src/frontend/components/rd/layout/Header.vue
  src/frontend/components/ui/tooltip/TooltipRoot.vue
  src/frontend/components/ui/tooltip/index.ts
  src/frontend/typed-router.d.ts
  typed-router.d.ts
Due: eslint --fix, prettier --write

feat: add comprehensive documentation for GitHub Status Cards integration
  TASKS.md
  docs/GITHUB_PROJECT_MANAGEMENT.md
Due: prettier --write

feat: update homepage to match live site with improved components
  src/frontend/components/rd/Base/FeatureList/FeatureList.story.vue
  src/frontend/components/rd/Base/FeatureList/index.vue
  src/frontend/components/rd/Base/GoalCard/GoalCard.story.vue
  src/frontend/components/rd/Base/GoalCard/index.vue
  src/frontend/components/rd/Base/InvolvementCard/InvolvementCard.story.vue
  src/frontend/components/rd/Base/InvolvementCard/index.vue
  src/frontend/components/rd/Base/Link.vue
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

feat: comprehensive database cleanup - remove all database dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .working/docs/admin-area-tasks.md
  .working/docs/webauthn-email-auth-tasks.md
  README.md
  docker-compose.yml
  docs/backend/authentication.md
  package.json
  src/backend/examples/logger-usage.ts
  src/backend/services/logger.service.ts
  src/backend/test/setup.ts
Due: eslint --fix, prettier --write

feat: implement automated releases on main branch merges
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
  docs/RELEASE_PROCESS.md
Due: prettier --write

feat: update Open Badges System card and fix layout
  src/backend/services/github-projects.service.ts
  src/frontend/components/rd/StatusCard/index.vue
  src/frontend/composables/useGitHubProjects.ts
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

refactor: simplify GitHubProjectsData interface for flexibility
  src/frontend/composables/useGitHubProjects.ts
Due: eslint --fix, prettier --write

refactor: remove commented-out Backend API project data
  src/frontend/composables/useGitHubProjects.ts
Due: eslint --fix, prettier --write

fix: update bun.lock after dependency changes
  bun.lock
Due: none

fix: resolve CI/CD issues and build failures
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: update build script to use bunx vite build
  package.json
Due: prettier --write

Add i18n support for footer and privacy page translations
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/locales/de/footer.json
  src/frontend/locales/de/privacy.json
  src/frontend/locales/en/footer.json
  src/frontend/locales/en/privacy.json
  src/frontend/pages/legal/privacy.vue
Due: eslint --fix, prettier --write

feat: migrate to pnpm for frontend builds while keeping bun for backend
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add comprehensive release testing script
  scripts/test-release.sh
Due: none

feat: prepare for fly.io deployment
  .dockerignore
  .working/docs/histoire-setup-and-stories.md
  .working/docs/separate-fe-be-tests.md
  .working/docs/webauthn-email-auth-tasks.md
  Dockerfile
  src/backend/api/routes.test.ts
  src/backend/index.ts
  src/frontend/components/rd/Base/Button/index.vue
  src/frontend/components/rd/Base/FeatureList/FeatureList.story.vue
  src/frontend/components/rd/Base/GoalCard/GoalCard.story.vue
  src/frontend/components/rd/Base/InvolvementCard/InvolvementCard.story.vue
  src/frontend/components/rd/Section/index.vue
  src/frontend/components/ui/tooltip/Tooltip.vue
Due: eslint --fix, prettier --write

fix: address PR review feedback in test-release script
  scripts/test-release.sh
Due: none

feat: Add Vue i18n internationalization system
  .husky/pre-commit
  docs/i18n-guide.md
  package-lock.json
  package.json
  src/frontend/components/rd/layout/AdminLayout.vue
  src/frontend/components/rd/layout/Header.vue
  src/frontend/components/ui/LanguageSwitcher.test.ts
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/locales/de/about.json
  src/frontend/locales/de/admin.json
  src/frontend/locales/de/common.json
  src/frontend/locales/de/header.json
  src/frontend/locales/de/home.json
  src/frontend/locales/en/about.json
  src/frontend/locales/en/admin.json
  src/frontend/locales/en/common.json
  src/frontend/locales/en/header.json
  src/frontend/locales/en/home.json
  src/frontend/main.ts
  src/frontend/pages/about/index.vue
  src/frontend/pages/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write

feat: Complete landing page translations
  src/frontend/locales/de/home.json
  src/frontend/locales/en/home.json
  src/frontend/pages/index.vue
Due: eslint --fix, prettier --write

test: Add comprehensive i18n integration tests
  src/frontend/components/ui/i18n.integration.test.ts
Due: eslint --fix, prettier --write

fix: Resolve TypeScript and linting errors
  package.json
  pnpm-lock.yaml
  src/components/ui/select/Select.vue
  src/components/ui/select/SelectContent.vue
  src/components/ui/select/SelectGroup.vue
  src/components/ui/select/SelectItem.vue
  src/components/ui/select/SelectItemText.vue
  src/components/ui/select/SelectLabel.vue
  src/components/ui/select/SelectScrollDownButton.vue
  src/components/ui/select/SelectScrollUpButton.vue
  src/components/ui/select/SelectSeparator.vue
  src/components/ui/select/SelectTrigger.vue
  src/components/ui/select/SelectValue.vue
  src/components/ui/select/index.ts
  src/frontend/components/rd/Base/Button/index.vue
  src/frontend/components/rd/Base/FeatureList/FeatureList.story.vue
  src/frontend/components/rd/Base/GoalCard/GoalCard.story.vue
  src/frontend/components/rd/Base/InvolvementCard/InvolvementCard.story.vue
  src/frontend/components/rd/Section/index.vue
  src/frontend/components/rd/StatusCard/index.vue
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/components/ui/dropdown-menu/DropdownMenu.vue
  src/frontend/components/ui/dropdown-menu/DropdownMenuContent.vue
  src/frontend/components/ui/dropdown-menu/DropdownMenuItem.vue
  src/frontend/components/ui/dropdown-menu/DropdownMenuTrigger.vue
  src/frontend/components/ui/dropdown-menu/index.ts
  src/frontend/components/ui/tooltip/Tooltip.vue
  src/frontend/composables/useGitHubProjects.ts
  src/frontend/locales/de/common.json
  src/frontend/locales/de/home.json
  src/frontend/locales/en/common.json
  src/frontend/locales/en/home.json
  src/frontend/pages/index.vue
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: Resolve LanguageSwitcher test failures
  .working/docs/histoire-setup-and-stories.md
  .working/docs/separate-fe-be-tests.md
  .working/docs/webauthn-email-auth-tasks.md
  src/frontend/components/ui/LanguageSwitcher.test.ts
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/components/ui/i18n.integration.test.ts
Due: eslint --fix, prettier --write

fix: Clean up config warnings and update CI to use pnpm
  .github/workflows/ci.yml
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: Remove pnpm version specification in CI to use packageManager field
  .github/workflows/ci.yml
Due: none

Update src/frontend/locales/de/home.json
  src/frontend/locales/de/home.json
Due: prettier --write

fix(i18n): resolve duplicate keys in locale files and fix imports
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/components/ui/select/Select.vue
  src/frontend/components/ui/select/SelectContent.vue
  src/frontend/components/ui/select/SelectGroup.vue
  src/frontend/components/ui/select/SelectItem.vue
  src/frontend/components/ui/select/SelectItemText.vue
  src/frontend/components/ui/select/SelectLabel.vue
  src/frontend/components/ui/select/SelectScrollDownButton.vue
  src/frontend/components/ui/select/SelectScrollUpButton.vue
  src/frontend/components/ui/select/SelectSeparator.vue
  src/frontend/components/ui/select/SelectTrigger.vue
  src/frontend/components/ui/select/SelectValue.vue
  src/frontend/components/ui/select/index.ts
  src/frontend/locales/de/home.json
  src/frontend/locales/en/home.json
Due: eslint --fix, prettier --write

fix: address additional review comments from Copilot
  src/frontend/components/ui/LanguageSwitcher.vue
  src/frontend/pages/about/index.vue
Due: eslint --fix, prettier --write

refactor(nav): use RouterLink for internal navigation and CTAs; keep external links as anchors
  src/frontend/components/rd/layout/Footer.vue
  src/frontend/components/rd/layout/Header.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,css,scss,md})
